set :database, "postgres://user:pass@host:port/database"

$config = {}
$config['IRON_KEY'] = 'XXXXX_XXXXXXXXX-XXXXXXXXXXX' 
$config['IRON_PROJECT'] = "XXXXXXXXXXXXXXXXXXXXXXXXX"
$config['HMAC_KEY'] = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
